<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
      <h1>歡迎使用 <%= title %></h1>
      <form method="post" action="/api/urls">
        輸入網址: <input name="orig_url" type="url" size="60" >
        <input type="submit"value="生成">
      </form>
      <!-- Use (typeof db_urlCode == 'object') because db_urlCode is undefined-->
      <% if (typeof db_urlCode != 'undefined' && db_urlCode) { %>
      <table id="table_course" BORDER="2" WIDTH="auto" HEIGHT="80%" CELLSPACING="5" CELLPADDING="6" cols="11" rules="all" style="margin:100px">
        <tr>
          <td>短網址</td>
          <td>原始網址</td>
          <td>截止日期</td>
        </tr>
        <tr>
          <td> <a href=<%= db_urlCode%> target="_blank"> <%= db_urlCode%> </a> </td>
          <td> <a href=<%= db_orig_url%> target="_blank" > <%= db_orig_url%> </a> </td>
          <td><%= db_expire_date%></td>
        </tr>
      </table>
        <% } else{ %>
          <p> 尚未回傳短網址 </p>
      <% } %>
    </center>
  </body>
</html>
